body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  padding: 0 10px
}

h1, h2, h3 {
  line-height: 1.2;
}

pre {
  margin: 0;
  line-height: normal;
  white-space: pre-wrap;
}

a.side-by-side-link {
  margin-right: 0.5rem;
}

img.full-width {
  width: 100%;
}
