body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
}

pre {
  white-space: pre-wrap;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#container #left,
#container #right {
  flex: 100%;
}

@media only screen and (min-width: 600px) {
  #container #left,
  #container #right {
    max-width: 28rem;
  }
}


@media only screen and (min-width: 992px) {
  #container #left,
  #container #right {
    flex: 1;
  }
}

#container #content {
  padding: 0 1.5rem 1.5rem;
}

#container .code {
  padding: 1.5rem;
}

#right img {
  width: 100%;
}

.code {
  background-color: #f3f3f3;
}

span a {
  margin-right: 0.5rem;
}

span.code {
  font-family: "Courier New", Courier, monospace;
}
