exec >>/data/acme/logs/update-acme-certs 2>&1
date

certbot() {
    docker run --rm -i \
        -v /etc/letsencrypt:/etc/letsencrypt \
        -v /data/acme:/data/acme \
        certbot/certbot:v0.25.1 \
        "$@"
}

acme() {
    email=$1
    shift
    site=$1
    shift
    certbot certonly \
        --rsa-key-size 4096 \
        --webroot \
        --agree-tos \
        --no-eff-email --email $email \
        --config-dir /data/acme/config \
        --work-dir /data/acme/work \
        --logs-dir /data/acme/logs \
        -w /data/acme \
        --keep-until-expiring \
        -d $site
}

acme {{ acme_email }} {{ server_name }}

sudo nginx -s reload
