user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    server {
        listen       80;
        listen       [::]:80;
        server_name  matteolandi.net;

        location / {
            return 302 https://$server_name$request_uri;
        }

        location ^~ /.well-known/acme-challenge {
            root /data/acme;
        }
    }

    server {
        listen       443 ssl;
        listen       [::]:443 ssl;
        server_name  matteolandi.net;
        root         /usr/share/nginx/html;
        charset      UTF-8;

        ssl_certificate /data/acme/config/live/matteolandi.net/fullchain.pem;
        ssl_certificate_key /data/acme/config/live/matteolandi.net/privkey.pem;

        add_header Content-Security-Policy "default-src 'none'; img-src 'self'; script-src 'self'; style-src 'self'";

        # Only connect to this site via HTTPS for the two years
        add_header Strict-Transport-Security "max-age=63072000";

        # Prevent browsers from incorrectly detecting non-scripts as scripts
        add_header X-Content-Type-Options "nosniff";

        # Disallow attempts to iframe site
        add_header X-Frame-Options "DENY";

        # Block pages from loading when they detect reflected XSS attacks
        add_header X-XSS-Protection "1; mode=block";

        location ^~ /.well-known/acme-challenge {
            root /data/acme;
        }

        location /404A75B6.asc {
            root /data/pgp;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            add_header Content-Type text/plain;
            expires off;
        }

        location /.plan {
            root /data/plan;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            add_header Content-Type text/plain;
            expires off;
        }

        location /plan.html {
            root /data/plan;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            expires off;
        }

        location /plan.xml {
            root /data/plan;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            expires off;
        }

        location / {
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-Server $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass http://0.0.0.0:2811;
        }

        location /downloads {
            sendfile  on;
            root      /data/nginx;
        }

        location /static {
            sendfile  on;
            root      /data/nginx;
        }

        location /ourwedding {
            rewrite ^([^.]*[^/])$ $1/ permanent;
            proxy_set_header X-Forwarded-Host $host;
            proxy_set_header X-Forwarded-Server $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass http://0.0.0.0:2905/;
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}
